Package: openmmg
Version: 0.3.0
Depends: libc, libmodbus, libmosquitto
Source: feeds/packages/net/openmmg
SourceName: open-modbus-gateway
License: GPLv3
Section: net
Maintainer: Mikael Ganehag Brorsson <mikael.brorsson@gmail.com>
Description: A MQTT to Modbus Gateway.
